.noteWrapper h2 {
  color: #82563d;
  font-family: sans-serif;
}
.selContainer {
  display: flex;
  margin-top: 1px;
}

.selRow1 {
  flex: 1;
  margin-right: 1%;
}

.selRow3 {
  flex: 3;
}

.radioContainer {
  display: flex;
  align-items: center;
}

.radioRow1 {
  flex: 1;
  margin-right: 1%;
}

.radioRow3 {
  flex: 3;
}

.flavorNote {
  display: flex;
}

.flavorNote h2 {
  flex: 1;
}

.flavorNote input {
  margin-top: 1.5em;
  height: 1.5em;
  width: 8em;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3em;
  border-color: #e4ceb7;
}

.circleWrapper {
  display: flex;
}
.circle {
  width: 20%;
  max-height: 80px;
  max-width: 80px;
  position: relative;
  border-radius: 4em;
  margin: 1px;
  background-color: #82563d;
}
.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.noteTextarea {
  height: 4em;
  width: 100%;
  border-radius: 0.3em;
  border-color: #e4ceb7;
  resize: none;
}

.noteTextarea::placeholder {
  color: #82563d;
}

.submitButton {
  width: 101%;
  height: 2em;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3em;
  background-color: #82563d;
  color: white;
}
