.starRating {
  display: flex;
  font-size: 3em;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 1px;
}

.starRating input {
  display: none;
}

.starRating label {
  color: #ccc;
  cursor: pointer;
}

.starRating :checked ~ label {
  color: #ffc700;
}

.starRating label:hover,
.starRating label:hover ~ label {
  color: #ffc700;
}
