.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #82563d;
  margin-top: 20%;
}

.container p {
  margin-bottom: 1px;
}
.pen-icon {
  width: 1em;
  height: 1em;
  z-index: 0;
  margin-top: 13px;
  margin-left: 2px;
}
